server:
    port: 8202
spring:
    application:
        name: service-cmn
    cloud:
        nacos:
            discovery:
                server-addr: 192.168.150.128:8848
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        password: Y123456j
        url: jdbc:mysql://192.168.150.128:3306/yygh_cmn?characterEncoding=utf-8&useSSL=false
        username: root
    jackson:
        date-format: yyyy-MM-dd HH:mm:ss
        time-zone: GMT+8
    profiles:
        active: dev
    redis:
        database: 0
        host: 192.168.150.128
        lettuce:
            pool:
                max-active: 20
                max-idle: 5
                max-wait: -1
                min-idle: 0
        port: 6379
